
services:
  web:
    build: .
    container_name: fastapi-app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - redis
      - otel-collector
    networks:
      - appnet


  worker:
    build: .
    container_name: celery-worker
    command: celery -A tasks.celery_app worker --loglevel=info
    restart: always
    depends_on:
      - rabbitmq
      - redis
    networks:
      - appnet

  

  celery-exporter:
    build: .
    container_name: celery-exporter
    command: python celery_exporter.py
    restart: always
    depends_on:
      - rabbitmq
      - worker
    ports:
      - "9808:9808"
    networks:
      - appnet

  

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.78.0
    container_name: otel-collector
    restart: always
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    command: ["--config=/etc/otel/config.yaml"]
    ports:
      - "4317:4317"
      - "4318:4318"
    networks:
      - appnet

  

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - appnet
    


  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - appnet

  

  rabbitmq-exporter:
    image: kbudde/rabbitmq-exporter
    container_name: rabbitmq-exporter
    ports:
      - "9419:9419"
    environment:
      RABBIT_USER: guest
      RABBIT_PASSWORD: guest
      RABBIT_URL: http://host.docker.internal:15672
    depends_on:
      - rabbitmq
    networks:
      - appnet



  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    restart: always
    ports:
      - "9100:9100"
    networks:
      - appnet

  

  victoriametrics:
    image: victoriametrics/victoria-metrics
    container_name: victoriametrics
    restart: always
    command:
      - "--promscrape.config=/etc/promscrape.yaml"
    volumes:
      - ./promscrape.yaml:/etc/promscrape.yaml
    ports:
      - "8428:8428"
    networks:
      - appnet



  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - victoriametrics
    networks:
      - appnet



  flower:
    image: mher/flower
    container_name: flower
    restart: always
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
    depends_on:
      - rabbitmq
      - worker
    networks:
      - appnet


networks:
  appnet:
    driver: bridge
    external: true
